	<header>
	   <h1>Page Layout</h1>
	</header>
	  
	<nav>
	  <ul>
		<li><a href="#">London</a></li>
		<li><a href="#">Paris</a></li>
		<li><a href="#">Tokyo</a></li>
	  </ul>
	</nav>

	<div class="container">

		<div class="section-container one-column">

			<div class="col-sec">
			  <h3>City</h3>
			  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
			  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
			</div>
			
		</div>

		<div class="section-container two-column-contact-form">

			<div class="col-sec">
			  <h3>City 1</h3>
			  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
			  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
			  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium. Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
			</div>
			
			<div class="col-sec">
			  <h3>Contact Us</h3>
			  
			  <form class="contact-form" action="/action_page.php">
				<label for="fname">First Name</label>
				<input type="text" id="fname" name="firstname" placeholder="Your name..">

				<label for="lname">Last Name</label>
				<input type="text" id="lname" name="lastname" placeholder="Your last name..">

				<label for="country">Country</label>
				<select id="country" name="country">
				  <option value="australia">Australia</option>
				  <option value="canada">Canada</option>
				  <option value="usa">USA</option>
				</select>

				<label for="subject">Subject</label>
				<textarea id="subject" name="subject" placeholder="Write something.." style="height:80px"></textarea>

				<input type="submit" value="Submit">
			  </div>
		  
			</div>	
			
		</div>

		<div class="section-container two-column">

			<div class="col-sec">
			  <h3>City 1</h3>
			  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
			  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
			</div>
			
			<div class="col-sec">
			  <h3>City 2</h3>
			  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
			  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
			</div>	
			
		</div>

		<div class="section-container three-column">

			<div class="col-sec">
			  <h3>City 1</h3>
			  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
			  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
			</div>
			
			<div class="col-sec">
			  <h3>City 2</h3>
			  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
			  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
			</div>	
			
			<div class="col-sec">
			  <h3>City 3</h3>
			  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
			  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
			</div>	
			
		</div>

		<div class="section-container four-column">

			<div class="col-sec">
			  <h3>City 1</h3>
			  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
			  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
			</div>
			
			<div class="col-sec">
			  <h3>City 2</h3>
			  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
			  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
			</div>
			
			<div class="col-sec">
			  <h3>City 3</h3>
			  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
			  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
			</div>
			
			<div class="col-sec">
			  <h3>City 4</h3>
			  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
			  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
			</div>
			
		</div>

	</div>

	<footer>Copyright &copy; Valmont</footer>
