#internal h1 {

color: #CE3229;
}
#center-stage .eps-red a
{
    color: #CE3229;
}
#eps-red{
	color: #CE3229;
}

#center-stage-left{
    left: -852px !important;
}
#center-stage-right{
	right: -40px !important;
}

#rotator-indicators a.eps-red {
background:#CE3229;

}
#news-bar h3{
	color: #FFF;
	background: url(http://az276019.vo.msecnd.net/valmontstaging/backgrounds/arrow-white-on-red.gif) no-repeat right 12px;
}
#h1 .eps-red{
    color: #CE3229;
}
#center-stage .eps-red h1{
	color: #CE3229;
}
#center-stage .eps-red a{
	color: #CE3229;
}

#rotator-indicators a.eps-red {
background:#CE3229;

}
#eps-red{
	color: #CE3229;
}

#internal h2 {
color: #CE3229;
}